/*  your css code here. If applicable */
h1, h2, div, p, li {
		text-align:center;
}
li{
	list-style-type:none;
}
a{
	text-decoration-line: none;
}
body{
	background-color: rgb(204, 204, 204);
}
.player_one{
	border-collapse:collapse;
		display:flex;
	margin:0px auto;
	background-color: rgb(255, 255, 255); 
	padding:20px;
	border-radius:10px;
	
}




.player_two{
	display:flex;
	margin:0px auto;
	background-color: rgb(255, 255, 255); 
	padding:20px;
	border-radius:10px;
}
